{% extends "base.html" %}
{% block content %}
<div class="container mt-5">
    <h2>YouTube Channels Configuration</h2>
    <form method="post">
        <input type="text" name="channel_id" placeholder="Enter YouTube Channel ID" class="form-control mb-3">
        <button type="submit" name="add_channel" class="btn btn-primary">Add Channel</button>
        <button type="submit" name="delete_channel" class="btn btn-danger">Delete Channel</button>
    </form>
    <ul class="list-group mt-4">
        {% for channel in youtube_channels %}
        <li class="list-group-item">{{ channel }}</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
