<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Discord Bot Dashboard{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>

<body>
    <div id="particles-js"></div>

    {% include 'navbar.html' %}

    <div class="container mt-5">
        <div class="card shadow-lg ticket-card">
            <div class="card-header {% block card_header_class %}bg-gradient-primary text-dark{% endblock %}">
                <h3><i class="{% block card_icon %}fas fa-home{% endblock %}"></i> {% block card_title %}Welcome to the Discord Bot Dashboard{% endblock %}</h3>
            </div>
            <div class="card-body">
                <img src="{% block card_image %}https://via.placeholder.com/600x150?text=Dashboard{% endblock %}" alt="{% block card_image_alt %}Dashboard Image{% endblock %}" class="img-fluid mb-4 rounded">
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
    <script src="{{ url_for('static', filename='js/particles-config.js') }}"></script>
</body>

</html>
