{% extends "base.html" %}
{% block content %}
<div class="container mt-5">
    <h2>Select a Server</h2>
    <div class="list-group">
        {% for guild in guilds %}
        <a href="{{ url_for('configure_server', guild_id=guild.id) }}" class="list-group-item list-group-item-action">
            <img src="https://cdn.discordapp.com/icons/{{ guild.id }}/{{ guild.icon }}.png" alt="{{ guild.name }}" style="width: 32px; height: 32px; border-radius: 50%;"> 
            {{ guild.name }}
        </a>
        {% endfor %}
    </div>
</div>
{% endblock %}
